*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    font-family: 'Lora';
    font-size: 25px;
    line-height: 2;
    
}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    
}
 nav ul li{
    font-size: 18px;
    display: inline-block;
    font-family: Arial;
    font-weight: normal;
    text-transform: uppercase;
    height: min-content;
    color: rgb(155, 49, 90); 


 
  }
nav ul li a {
    text-decoration: none; 
    color:inherit;
    padding: 10px;

}
nav ul li a:hover{
    background: rgb(235, 209, 227);

}
nav{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    
}
nav img{
    height: 70px;
}
.szekcio{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: Arial;
    padding: 10px;



}
.mashatter{
    background: rgb(241, 193, 211);
    color:seashell;

}
footer{
    font-size: 14px;
    background: rgb(139, 139, 139);
    color: seashell;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    

}
.galeria{
    display: block;
    width: 100%;

}
.galeria img{
    padding: 5px;
    max-width: 45%;
    
}
